// Colors
$color-green-lightest: rgb(238, 255, 237);
$color-green-lighter: rgb(199, 224, 196);
$color-green-light: rgb(159, 200, 158);
$color-green: rgb(127, 196, 119);
$color-green-dark: rgb(69, 182, 67);
$color-green-darker: rgb(31, 149, 28);
$color-green-darkest: rgb(12, 103, 10);
