@import '../../scss/variables';
@import '../../scss/panel';
@import '../../scss/utilities';

.objectProperties {
  @include panel($color-green-light, $color-green-lighter, $color-green-darkest);
}

.large-label {
  label, * label {
    width: 40%;
  }

}

.check-btn {
  flex:1;
  border-radius: 4px;
}

.close-btn {
  display: inline-block;
  float: right;
  cursor: pointer;

  &:hover {
    color: $color-green-darker;
  }
}

.physics-settings-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
  height: 100%;

  @include stripes(rgba(0,0,0,0.57), rgba(0,0,0,0.6), 45deg, 25px);

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  .btn {
    border-radius: 4px;
  }
}

.physics-settings {
  @include panel($color-green-light, $color-green-lighter, $color-green-darkest);
  flex: 1;
  max-width: 350px;
  min-width: 300px;
  margin: auto;
}
